[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/fortytw0/archie.git
[submodule "archie"]
	path = archie
	url = https://github.com/fortytw0/archie.git
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/fortytw0/archie.git
