<p style="margin-top: 4%;"> 
    <em>Hi 👋! </em> <br>    
</p>


<p>
    <strong> I am Dananjay Srinivas!</strong>
</p>


<p>
    I study Computational Linguistics at the University of Colorado, Boulder.
    My broad interests are to do with Natural Language Understanding, Online Discourse and User Centric NLP. 
    My current research primarily deals with recognizing hate speech, tackling misinformation and mining online discourse for understanding user demographics.  
    Prior to GradSchool, I worked at NEC Labs as a Data Scientist. 
</p>

<p>
    I like many things. I like science fiction, board and video games, sports, technology. I am an ardent fanatic of the Bengaluru Football Club, and 
    was a season ticket holder for 3 years (before the big 'Rona). I enjoy indie video games, and hope to build some of my own in the future. The one 
    thing I can say for sure during my stint in Boulder - I stopped tolerating and started loving incredibly hoppy IPA's. I enjoy listening to 
    progressive rock, bands like Yes, Rush and Pink Floyd.
</p>


     