{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "snippets/header.html" %}


<body>
    <div class="container">
        
        {% include "snippets/nav.html" %}

        <br />

        {% include "snippets/abstract-about.html" with introduction=introduction %}

        {% include "snippets/notice-board.html" with notice_board=notice_board %}

        {% include "snippets/recent-updates.html" with updates=updates %}

        {% include "snippets/publications.html" with publications=publications%}
    </div>
</body>

</html>