{% load static %}

<div class="container">
    <div class="row align-items-center">
        <div class="col-4 d-none d-lg-block">
            <img src="{% static 'images/dp.png' %}" style="border-radius: 50%; max-width: 70%" />
            <div class="container mt-3">
                <div class="image-grid">
                    <a href="" style="text-decoration: none">
                        <i class="fa-brands fa-github social" style="font-size: 2em"></i>
                    </a>

                    <a href="" style="text-decoration: none">
                        <i class="fa-solid fa-envelope social" style="font-size: 2em"></i>
                    </a>

                    <a href="" style="text-decoration: none">
                        <i class="fa-brands fa-square-twitter social" style="font-size: 2em"></i>
                    </a>

                    <a href="" style="text-decoration: none">
                        <i class="fa-brands fa-linkedin social" style="font-size: 2em"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8 text-justify">
            
            {{ introduction | safe}}

        </div>
    </div>
</div>