{% load static %}

<div class="container">
    <div class="row align-items-center">
        <div class="col-4 d-none d-lg-block">
            <img src="{% static 'images/dp.png' %}" style="border-radius: 50%; max-width: 70%" />
            <div class="container mt-3">
                <div class="image-grid">
                    <a href="" style="text-decoration: none">
                        <i class="fa-brands fa-github social" style="font-size: 2em"></i>
                    </a>

                    <a href="" style="text-decoration: none">
                        <i class="fa-solid fa-envelope social" style="font-size: 2em"></i>
                    </a>

                    <a href="" style="text-decoration: none">
                        <i class="fa-brands fa-square-twitter social" style="font-size: 2em"></i>
                    </a>

                    <a href="" style="text-decoration: none">
                        <i class="fa-brands fa-linkedin social" style="font-size: 2em"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8 text-justify">
            <h1>Hi, I am Dananjay Srinivas. 👋</h1>
            I am a PhD student in the Computer Science department at the
            University of Colorado, Boulder. I broadly study Natural Language
            Processing, with a focus on building AI that can reason about
            information. I work in the
            <a href="https://blast-cu.github.io/">Boulder Language and Social Technologies
            </a>
            lab, where
            <a href="https://mlpacheco.github.io/">Dr. Maria Pacheco</a> is my
            advisor.
        </div>
    </div>
</div>