<div class="terminal-nav" style="border-bottom: 2px; border-bottom-style: dashed">
    <div class="terminal-logo">
        <div class="logo terminal-prompt">
            <a href="#" class="no-style">dsrinivas</a>
        </div>
    </div>
    <nav class="terminal-menu">
        <ul>
            <li><a class="menu-item" href="#">blogs.</a></li>
            <li><a class="menu-item" href="#">projects.</a></li>
            <li><a class="menu-item" href="#">about.</a></li>
        </ul>
    </nav>
</div>