{% if notice_board %}

<div class="row align-items-center mt-5">
    <div class="terminal-alert">
        <!-- <strong>Hello there!</strong>
        <em>Are you a prospective CU student? Do you want to join BLAST? Are
            you interested in the research I am doing?</em>
        <br /><br />If you're seeking answers, and feel that I could help you
        - let me know how I can be of use to you! Find out how you can do that
        <a href="">here.</a> -->
        
        {{ notice_board | safe }}

    </div>
</div>
{% endif %}