<h4 class="mt-3">Publications</h4>


<h6> 2023 </h6>

<p>
    <strong>Discourse Analysis via Questions and Answers: Parsing Dependency Structures of Questions Under Discussion</strong>
    <br>
    Wei-Jen Ko, Yating Wu, Cutter Dalton, Dananjay Srinivas°, Greg Durrett, Junyi Jessy Li
    <br>
    <em>Findings of the Association for Computational Linguistics: ACL 2023</em>
    <br>
    <a href="" class="social"> <i class="fa-brands fa-github" title="Github Repository"></i> </a>
    <a href="" class="social"> <i class="fa-regular fa-file" title="Link to paper"></i> </i></a>
    <a href="" class="social"> <i class="fa-regular fa-file-zipper" title="Link to ArXiv"></i> </a>
    <a href="" class="social"> <i class="fa-solid fa-database"></i></a>
    
    
    



</p>

<p>
    <strong>OLEA: Tool and Infrastructure for Offensive Language Error Analysis in English</strong>
    <br>
    Marie Grace, Jay Seabrum, Dananjay Srinivas, Alexis Palmer
    <br>
    <em>Proceedings of the 17th Conference of the European Chapter of the Association for Computational Linguistics: System Demonstrations (EACL2023)</em>
</p>
