<h4 class="mt-3">Recent Updates</h4>


<div style="overflow-x: auto;height: 440px;"> 



    <div class="terminal-timeline">
        <div class="terminal-card">
            <header>August 22, 2023</header>
            <div>
                I've officially started my PhD program at CU Boulder! I am excited
                to be working at <a href="https://blast-cu.github.io/">BLAST</a> and
                be advised by
                <a href="https://mlpacheco.github.io/">Dr. Maria Pacheco</a>.
            </div>
        </div>
        <div class="terminal-card">
            <header>August 22, 2023</header>
            <div>
                I've officially started my PhD program at CU Boulder! I am excited
                to be working at <a href="https://blast-cu.github.io/">BLAST</a> and
                be advised by
                <a href="https://mlpacheco.github.io/">Dr. Maria Pacheco</a>.
            </div>
        </div>
        <div class="terminal-card">
            <header>August 22, 2023</header>
            <div>
                I've officially started my PhD program at CU Boulder! I am excited
                to be working at <a href="https://blast-cu.github.io/">BLAST</a> and
                be advised by
                <a href="https://mlpacheco.github.io/">Dr. Maria Pacheco</a>.
            </div>
        </div>
        <div class="terminal-card">
            <header>August 22, 2023</header>
            <div>
                I've officially started my PhD program at CU Boulder! I am excited
                to be working at <a href="https://blast-cu.github.io/">BLAST</a> and
                be advised by
                <a href="https://mlpacheco.github.io/">Dr. Maria Pacheco</a>.
            </div>
        </div>

        <div class="terminal-card">
            <header>July 31, 2023</header>
            <div>
                <strong>Discourse Analysis via Questions and Answers: Parsing Dependency
                    Structures of Questions Under Discussion
                </strong>
                got published in
                <em><a href="https://aclanthology.org/2023.findings-acl.710/">ACL Findings!</a></em>
            </div>
        </div>

        <div class="terminal-card">
            <header>May 15, 2023</header>
            <div>
                <strong>OLEA: Tool and Infrastructure for Offensive Language Error
                    Analysis in English</strong>, a System Demo paper that I co-authored, got published at
                <em><a href="https://aclanthology.org/2023.eacl-demo.24/">EACL!</a></em>
            </div>
        </div>

        <div class="terminal-card">
            <header>May 5, 2023</header>
            <div>
                After 2 years, and with the unwavering support of many, wonderful
                humans and dogs; I've completed the graduate program in
                Computational Linguistics at CU Boulder!
            </div>
        </div>
    </div>

</div>